<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
    <link rel="stylesheet" href="assets/sass/index.css">
</head>
<body>

    <header>
        <h2>EdiTarefas</h2>
        <div>
            <img src="assets/src/perfil 2.jpeg" alt="tomasmanueltm" title="tomasmanueltm">
            <span>
                <a href="www.github.com/tomasmanueltm" target="_blank"><i class="bi bi-github"></i></a>
                <a href="www.linkedin.com/in/tomasmanueltm" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="www.facebook.com/tomasmanueltm" target="_blank"><i class="bi bi-facebook"></i></a>
            </span>
        </div>
    </header>

    <section class="painel">
        <div>
            <h3>Tarefas</h3>
            <ul>
                <li>
                    <h3>Tomas Manuel</h3>
                    <span>Estema é uma mensagem padrao para todos usuarios dos sistema</span>
                    <a href="#">eliminar</a>
                </li>
            </ul>
        </div>

        <form action="">
            <div>
                <label for="">assunto</label>
                <input type="text" v-model="assunto" placeholder="assunto">
            </div>
            <div>
                <label for="">Informação</label>
                <textarea v-model="informacao" placeholder="aqui esta a minha mensagem"></textarea>
            </div>
            <div>
                <button>Enviar</button>
            </div>
        </form>

    </section>



</body>
</html>