@import "__"
@import url("../icon/icons.css")


header
    @include padrao
    @include flex(center, space-between, row, 1rem)

    h2
        color: #999
        font-size: 2rem
        @include table
          font-size: 1rem
    div
        @include flex(center, space-around, row, 10px)

        img
            float: left
            width: 50px
            height: 50px
            object-fit: cover
            border-radius: 50%

        span
            padding: 0 1rem
            a
                margin: 0 20px 0 0
                i
                    color: #333
                    font-weight: 900
                    font-size: 1.3rem

section

    @include padrao
    @include flex(baseline, space-between, row)


    @include desktop-media
        width: 100%
        @include grid(2, 1rem)


    @include table
        @include padrao(100%)
        padding: 1rem
        @include flex(center, space-between, column, 2rem)



    div
        width: 100%

        h3
            color: #000
            font-size: 1rem
            font-weight: 900
            font-family: Lato
            padding: 0 0 .4rem

        nav
            width: 500px
            max-height: 380px
            overflow-y: auto
            padding: .9rem .1rem
            margin: 0 0 1rem

            @include desktop-media
                width: unset

            @include table
                width: 100%

            

            ul
                top: 5px
                left: 2px
                width: 100%
                position: relative
                border-left: 2px solid #ccc
                
                li
                    z-index: 2000
                    display: block
                    padding: 0 2rem
                    margin: 0 0 2rem 
                    position: relative

                    &::before
                        top: 10px
                        z-index: 2000
                        left: -5.5px
                        padding: 5px
                        content: " "
                        display: block
                        background: #999
                        border-radius: 50%
                        position: absolute

                    &:nth-child(even)
                        &::before
                            z-index: 2000 
                            background: #333
                        

                    h3
                        padding: .3rem 0
                        font-family: Linotte
                       
                    span

                        color: #333
                        display: block
                        font-family: Lato!important

                    a
                        float: left
                        clear: both
                        color: #333
                        display: block
                        padding: .5rem 0 
                        font-size: .8rem

                    &:last-child
                        margin: 0px 0px 0px

    form
        width: 500px
        padding: 1rem
        background: #ccc       
        @include grid(1, 1rem)

        @include desktop-media
            width: 100%

        @include table
            width: 100%

        div
            width: 100%
            @include grid(1, 1rem)

            input, textarea
                width: 100%
                border: none
                outline: none
                padding: .5rem
                max-width: 100%
                min-width: 100%
                font-family: Lato
                border-radius: 4px

                @include table
                    max-width: unset
                    min-width: unset

            textarea
                width: 465px
                height: 100px
                min-width: 465px
                max-width: 465px
                max-height: 100px
                min-height: 100px

                @include table
                    width: 100%
                    max-width: unset
                    min-width: unset

            button
                width: 150px
                padding: .5rem
                cursor: pointer


